
$primaryColor: #52d5a5;
$primaryColor1: #44b38a;
$primaryColor2: #35906f;
$primaryColor3: #287257;
$primaryColor4: #1b523e;
$primaryColor5: #0f3326;

$onPrimary: #fff;

$pageBGColor: #f5f5f5;
$phoneAreaBGColor: #fff;

$uservideoBG: #D8E2E9;

$recordingColor: #c30303;
